body {
   background-color: greenyellow;
}
input{
    border: 4px white solid;
    display: inline block;
    padding: 12px 15px;
    border-radius: 10px;
    color: white;
    background-color: black;
    font-weight: bold;
}
img {
  border: 7px solid black;
}
h1 {
  font-family: 'Zen Dots', cursive;
  font-size: 40px;
  color: white;
}